body {
    background-color: #333;
}

#toolbar {
    background-color: #ddd;
}

#toolbar li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-right: 1px solid #000;
}

#toolbar li a:hover {
    background-color: #eee;
}

#toolbar li:last-child {
    border-right: none;
    border-left: 1px solid #000;
}

#active {
    background-color: #e94918; /*w3schools green: #04AA6D;*/
}

#active a:hover {
    background-color: #ff3c00 !important;
}

p, h1, h2, h3, h4, h5, h6, li {
    color: #fff;
}

.pfp {
    display: block;
    margin: 55px auto;
    width: 30%;
    border-style: solid;
    border-width: 5px;
    border-color: #ddd;
}

#hobbies {
    width: 625px;
    background-color: #008000;
    margin-bottom: 20px;
    padding-left: 10px
}

#likes {
    background-color: #744839;
    padding-left: 10px
}

#likes a {
    color: #78bcff;
}

#likes a:hover {
    color: #a393ff;
}

.intro {
    background-color: #008080;
}

#newPetsText {
    background-color: #008000;
}